.homeText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    text-align: center;
    width: max-content;
    height: max-content;

}

.h1Hel {
    font-size: 100px;
    color: white;
    font-family: "Ruda", sans-serif;
    margin: 0;
    padding: 0;
}
.h1Test{    
    font-size: 50px;
    color: white;
    font-family: "Ruda", sans-serif;
    margin: 0;
    padding: 0;
}
.h1Test::before{  
    content: '';
    font-size: 100px;
    color: white;
    font-family: "Ruda", sans-serif;
    margin: 0;
    padding: 0;
    animation: textEffect 5s infinite;
}

@keyframes textEffect{
    0%{
        content: 'Jakub Josefus'; 
        opacity: 0;
        font-size: 95%;
    }
    25%{
        content: 'Jakub Josefus'; 
        font-size: 100%;
        opacity: 1;
    }
    50%{
        content: 'Jakub Josefus'; 
        font-size: 95%;
        opacity: 0;
    }
    55%{
        content: 'Portfolio';
        font-size: 95%;
        opacity: 0;        
    }
    80%{
        opacity: 1;
        font-size: 100%;
        content: 'Portfolio';
    }
    100%{
        content: 'Portfolio';
        font-size: 95%;
        opacity: 0;
    }
}



.h1header {
    cursor: default;
    color: orange;
    padding-left: 100px;
    font-size: 50px;
    white-space: nowrap;
}

.h1footer {
    margin: 0;
    font-size: 1.5vh;
    padding-right: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    vertical-align:middle;
}

.h1cvdownload {
    font-size: 20px;
}


.h1exp {
    cursor: default;
    color: orange;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;
}

.h1expPictureText {
    cursor: default;
    color: rgb(0, 0, 0);
    font-size: 2vh;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: "Ruda", sans-serif;
}


.h1About {
    cursor: default;
    color: white;
    font-size: 2vw;
    text-align: left;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 4vw;
}

.aboutMeText {
    cursor: default;
    color: white;
    font-size: 1.5vw;
    text-align: left;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.aboutMeTextContact {
    cursor: default;
    color: white;
    font-size: 1.5vw;
    text-align: right;
    padding-left: 30px;
    padding-top: 15vw;
}




p {
	font-size: 70px;
	color: white;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

.navLinks {
	list-style: none;
    padding-right: 50px;    
}

.navLi {
	display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

 .navA {
    transition: all 0.3s ease 0s;
    font-family: "Ruda", sans-serif;
	font-size: 25px;
	text-decoration: none;
	color: #edf0f1;

} 

.navA:hover {
    transition: all 0.3s ease 0s;
    text-shadow: 0 0 1px orange,
    0 0 2px orange,
    0 0 3px orange,
    0 0 4px orange,
    0 0 5px orange;
} 

.h1Footer {
    color:white;
    font-size: 1.5vh;    
}

/*.aFooter {
    color: white;
    text-decoration: none;
    transition: .5s ease;
}

.aFooter:hover {
    color: orange;
    transition: .5s ease;
}*/


.buttCv {
	background-color:#0e77a898;
	color: white;
	padding: 1rem 2rem;
    border-radius: 2rem;
    transition: background-color .5s ease;
    outline: none;
}

.buttCv:hover {
	cursor: pointer;
	background-color: black;
	color: orange;
	padding: 1rem 2rem;
	/*border-radius: 2rem;*/
	transition: background-color .5s ease;
    outline: none;
}

.imageRefer {
	height: 60px;
	width: auto;
	border-radius: 4rem;
	transition: background-color .5s ease;
}

.imageRefer:hover {
cursor: pointer;
background-color:#0e77a898;
border-radius: 4rem;
transition: background-color .5s ease;

}

.paddingref {
	margin-top: 5px;
	padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    height: 60px;
}

.rowexp {
	display: flex;
	justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  
  }

  .rowexpBorder {
    border-style: groove;
    border-radius: 20px;
    border:black;
    border-style: solid;
    border-width: medium; 
    margin-left: 15vw;
    margin-right: 15vw; 
  }

  .row {
	display: flex;
	justify-content: center;
    align-items: center;    
  }


  .fontOfHobies {
	font-size: 70px;
	color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.Esend {
	font-size: 20px;
	color: rgb(0, 0, 0);
    margin: 0px;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
}

.OkBt{
    margin-top: 15px;
}

.pOk {
    color: white;
    border-radius: 17px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pOk:hover {
    color: white;
    background-color: green;
}

.h1Hobies {
    font-size: 50px;
    color: white;
    font-family: "Ruda", sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 5px 5px 5px #000000;
}

.h1HobiesNew {
    font-size: 3vw;
    color: white;
    font-family: "Ruda", sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 5px 5px 5px #000000;
    text-align: center; 
}

.h1HobiesNewAnimation{
    animation: hobiesEffect 1s;
}

@keyframes hobiesEffect {
    0%{
        opacity: 0;
        padding-left: 200px;
        display: block;
    }
    100%{
        opacity: 1;
        padding-left: 0px;
        display: block;
    }
}




.h1Hobies2 {
    font-size: 50px;
    color: white;
    font-family: "Ruda", sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 5px 5px 5px #000000;
    margin-top: 100px;
}

.hiddenHeaderText{
    font-size: 6vh;
    text-decoration: none;
    transition: all 0.3s ease 0s;
	color: #edf0f1;
}



.hiddenHeaderText:hover {
    transition: all 0.3s ease 0s;
    text-shadow: 0 0 1px orange,
    0 0 2px orange,
    0 0 3px orange,
    0 0 4px orange,
    0 0 5px orange;
} 
.contactButton{
margin-left: 30px;
color: white;
background-color: black;
width: 5vw;
height: 1.5vw;
border-radius: 8px;
transition: ease-out 0.3s;
font-size: 1vw;
outline: none;
border: 2px solid #125753;
position: relative;
z-index: 1;
}

.contactButton:hover{
    color: white;
    cursor: pointer;
}

.contactButton::before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #125753;
}  

.contactButton:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}  