@media screen and (max-width:400px){
    #about {
        height: 500px;
        }
        #experience {
            height: 900px;
            }
}

@media screen and (max-width:500px){
    .ulIcons .liIcons {
        font-size: 6vw;
        height: 12vw;
        width: 12vw;
        line-height: 12vw;
		margin: 0 2vw;
    }
	.pic{
		height: 18vw;
	}
}

@media screen and (max-width: 700px) {
    .h1Hel {
      font-size:14.3vw ;
    }
     .h1Test {
        font-size:7.3vw ;
      }


    .h1header{
        font-size:7.3vw; ;
        padding-left: 5vw;
    }

    #gallery {
        display: none;
    }
  }
  @media screen and (max-width: 767px) {
    .card {
        width: 70vw;
    }
    
  }

  @media screen and (max-width:800px){
    .h1About{
        font-size: 6vw;
    }
    .aboutMeText{
        font-size: 1.5vh;
    }
    .aboutMeTextContact{
        font-size: 1.5vh;
        padding-top: 0;
        text-align: left;
    }
    .contactButton{
        margin-left: 0px;
        margin-top: 2vw;
        font-size: 3vw;
        width: 15vw;
        height: 5vw;
    }  

    .myPicAnimation{
        display: block;
        white-space: nowrap;
        animation: TextAppear 2s forwards;
    }

    .myTextAnimation{
        display: block;
        white-space: normal;
        animation: TextAppear 2s forwards;
    }

    #project p {
        font-size: 4vw;
    }

    *{
        box-sizing: border-box;
    }

}

@media screen and (max-width: 1080px) {
    .bgcontactr {
      display: none;
    }
    .bgcontactl{
    width: 100%;
     margin-left: auto; 
     margin-right: auto; 
	 background-image: url(images/conver1.jfif);
    }
}

@media screen and (max-width: 1000px){
    .h1HobiesNew{
        font-size: 5vw;
    }
}

@media screen and (max-width:1300px){
	.modal-content{
		width: 70vw;
	}
}

@media screen and (max-width: 1500px) {
    .navA , .navA:hover {
      display: none;
    }
	.menuIcon {
		display: block;
	  }
  }

